:root {
  --lightBlue: #1c2b3f;
  --darkBlue: #182135;
  --mainOrange: #f7902b;
  --mainYellow: #ffa400;
  --mainGreen: #008000;
  --lightGreen: #00fff2;
  --goldenYellow: #fff6a9;
  --clr-grey: #8a8c8c;
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-white: #f0f0f0;
  --softWhite: #fbfaf5;
  --softGrey: #acaea9;
  --heroWhite: #ffe6ff;
  --clr-black: #000;
  --lightRed: #ff65bd;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --spacing: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --mainGold: #daa520;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  height: 90px;
  padding-right: 1rem;
  padding-left: 1rem;
  background: var(--darkBlue);
  z-index: 2;
}

.hide-sidebar,
.show-sidebar {
  width: 50%;
  transition: 0.3s ease;
  height: 100vh;
  position: fixed;
  background: var(--darkBlue);
  z-index: 999;
}

.hide-sidebar {
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

#mobile-sidebar {
  padding-top: 10px;
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid var(--softGrey);
  margin-bottom: 1rem;
}

.logo-wrapper button,
.list-item .logout-btn,
#header button {
  border: none;
  outline: none;
  background: transparent;
  color: var(--mainOrange);
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  padding-left: 0;
  width: 100%;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  color: var(--softGrey);
  padding-left: 1rem;
  gap: 1rem;
  width: 100%;
}

.list-item:hover {
  background: var(--clr-grey);
  color: var(--softWhite);
}

.list .list-item a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: var(--mainOrange);
}

#mobile-dashboard-navnav {
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  position: fixed !important;
  background-color: var(--darkBlue);
  border-bottom: 1px solid var(--softGrey);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-right: 1rem;
}

.nav-center {
  height: 100%;
  width: inherit;
}

.main {
  width: 100%;
  top: 0;
  position: absolute;
  height: 100%;
  padding-bottom: 4rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
  z-index: 1;
}

.main::-webkit-scrollbar {
  display: none;
}

.contributions {
  padding: 1rem;
}

/* ---------------------------------------------------Media Queries */
@media screen and (max-width: 768px) {
  #header,
  #sidebar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #mobile-sidebar,
  #mobile-dashboard-nav {
    display: none;
  }

  .hide-sidebar,
  .show-sidebar {
    left: 0;
    top: 0;
    width: 15%;
  }

  .main {
    width: 85%;
    padding-right: 2rem;
    right: 0;
    top: 90px;
    height: 100%;
    padding-bottom: 4rem;
    margin-left: 15%;
  }
}
